.Profile{
    margin: auto auto auto 80% ;
    font-size: 16px;
    text-align: right;
}

.Button{
    display: inline-flex;
    background: brown;
}

.Title{
   font-size: 20px;
   margin-top: auto;
   margin-left: 1rem;
   margin-bottom: auto;
   text-align: left;
}

.Icons{
    margin-top: auto;
    margin-right: 1rem;
    margin-bottom: auto;
}