.PrivacyPolicyTitle{
    position: relative;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.SubTopic{
    position: relative;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.Details{
    position: relative;
    width: 90%;
    text-align: left;
    font-size: 16px; 
    margin-top: 1rem;
    margin-bottom: 1rem;  
    margin-left: 1rem;
    margin-right: 1rem;
}

.list{
    width: 95%;
    position: relative;
    display: block;
    left: 1rem;
    color: gainsboro;
}