#DeleteAccountPolicy{
    bottom: 50px;
    background: transparent;
    top: 50px;
}

.DeleteAccountInput{
    position: absolute;
    bottom: 0;
    width: 70%;
}

.DeleteButton{
    position: absolute;
    bottom: 0;
    width: 20%;
    height: 30px;
    left: 77%;
    background: red;
}